.translate-panel {
  position: absolute;

  top: -1000px;
  z-index: 1000;
  width: auto;
  top: 100%;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  /* box-shadow: 0 4px 8px -2px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%); */
  /* box-shadow:0 0 0 1px #5E636E; */
  
  background: #f7f8fb;
  /* border: 1px solid #239aff; */
  border-radius:8px;
  opacity: 0; 
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s !important;
  margin-bottom: 16px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;

}
.translate-panel.show {
  transform: scale(1);
  opacity: 1;
  width: 300px;
  height: auto;
}
.translate-panel.hide {
  
  width:0;
  height: 0;
}
.translate-panel .header {
  padding: 8px;
  display:flex;
  justify-content: space-between;
  margin: 0 5px ;
}
.translate-panel .header  .title{
  font-size: 16px;
}
.translate-panel .header  .tp-close{
  cursor: pointer;
  font-size: 20px;
  width:20px;
  height:20px;
  border-radius:50%;
  color: #DEE3ED;
  line-height: 18px;
  text-align:center;
  background:#292c30;
}
.translate-panel .header  .close:hover{
  cursor:hand;
}

.translate-panel .header-line {
  background: #eff1f8;
  height: 2px;
}

.translate-panel  {
  margin-bottom: 0;
}
.translate-panel  .basic{
background: #f5f6f7;
   /* background: #f9f9f9; */ 
}

.translate-panel  .add{
display:flex;
justify-content: center;
padding:15px 10px;
color:#08090a;
font-size:16px; 
}

.translate-panel  .cell{
display:flex;
justify-content: space-between ;
margin: 5px 10px !important; 
padding: 8px 12px !important;
background: #fff !important;
font-size: 13px !important;
line-height: 18px !important;
border-radius: 8px !important;
border: 1px solid #DEE3ED !important;
color: #2F3237 !important;
}
.translate-panel  .cell:hover {
  background-color: #eff1f8 !important; 
}
.translate-panel  .cell .left{

display: flex;
align-items: center;
}
.translate-panel  .cell .left img{
width:30px;
border-radius: 4px;
box-shadow: 2px 2px 4px #999;
}
.translate-panel  .cell .left span{
 margin-left:8px;
 font-size:16px;
}
.translate-panel  .cell .right{

display: flex;
 flex-direction: column;
 align-items: flex-end;

}
.translate-panel  .cell .right .money{
font-size:18px;
/* color:#239aff; */
color: #5c4cff;
}
.translate-panel  .cell .right .unit{
font-size:12px;
color:#b2b2b2;
}
